<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>lucadi.html</welcome-file>
  </welcome-file-list>
   <servlet>
    <servlet-name>AddressServiceImpl</servlet-name>
    <servlet-class>uk.co.platosys.platax.server.services.AddressServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServiceImpl</servlet-name>
    <url-pattern>/platax/addressService</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>CashServiceImpl</servlet-name>
    <servlet-class>uk.co.platosys.platax.server.services.CashServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CashServiceImpl</servlet-name>
    <url-pattern>/platax/cashService</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>CustomerServiceImpl</servlet-name>
    <servlet-class>uk.co.platosys.platax.server.services.CustomerServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServiceImpl</servlet-name>
    <url-pattern>/platax/customerService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EnterpriseServiceImpl</servlet-name>
    <servlet-class>uk.co.platosys.platax.server.services.EnterpriseServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterpriseServiceImpl</servlet-name>
    <url-pattern>/platax/enterpriseService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>InvoiceServiceImpl</servlet-name>
    <servlet-class>uk.co.platosys.platax.server.services.InvoiceServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvoiceServiceImpl</servlet-name>
    <url-pattern>/platax/invoiceService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ProductServiceImpl</servlet-name>
    <servlet-class>uk.co.platosys.platax.server.services.ProductServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServiceImpl</servlet-name>
    <url-pattern>/platax/productService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LoginServiceImpl</servlet-name>
    <servlet-class>uk.co.platosys.platax.server.services.LoginServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServiceImpl</servlet-name>
    <url-pattern>/platax/loginService</url-pattern>
  </servlet-mapping>
  
  <!-- 
   <servlet>
    <servlet-name>StaffServiceImpl</servlet-name>
    <servlet-class>uk.co.platosys.platax.server.services.StaffServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffServiceImpl</servlet-name>
    <url-pattern>/platax/staffService</url-pattern>
  </servlet-mapping>
 -->

   <servlet>
    <servlet-name>TaskServiceImpl</servlet-name>
    <servlet-class>uk.co.platosys.platax.server.services.TaskServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskServiceImpl</servlet-name>
    <url-pattern>/platax/taskService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserServiceImpl</servlet-name>
    <servlet-class>uk.co.platosys.platax.server.services.UserServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServiceImpl</servlet-name>
    <url-pattern>/platax/userService</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>ConfirmationServlet</servlet-name>
    <servlet-class>uk.co.platosys.xuser.ConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmationServlet</servlet-name>
    <url-pattern>/platax/ConfirmationServlet</url-pattern>
  </servlet-mapping>
</web-app>
