/** Add css rules here for your application. */


.px_branding_box {
	background: #6699ff;
}

.px_branding_brand {
	color: #ffffff;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 40pt;
	text-align: right;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom:2px;
	margin:0;
}

.px_branding_strapline{
	color: #ffffff;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16pt;
	text-align: right;
	padding-right: 10px;
	padding-top: 0;
	margin:0;
}

.px_status_box {
	background: #ccccff;
}

.px_status_label, .px_status_loggedout {
	text-align: center;
	font-size: 16pt;
	color:#993366;
}
.px_status_loggedin {
	text-align: center;
	font-size: 16pt;
	color: #06ab13;
	font-weight: bold;
}
.px_ptab_root_panel{
	
}

.px_ptab_share {
	background: #99dd99;
}

.px_ptab_content {
	/*background: #e9c067; BUFF */
	background: #ddd;
}
.px_utab_title_panel{
	
}
.px_ptab_head {
	padding: 2px;
	background: #ffdd66;
}
.px_utab_content_page{
	color: #000;
	background:#fff;
}
.px_field_label {
	text-align: right;
	font-weight: bold;
}
.px_field_info_label {
	text-align: left;
	font-style: oblique;
	
}
.px_field_info_label_alarmed {
	text-align: left;
	font-style: oblique;
	font-weight: bold;
	background: #ffaaaa;
}
.px_body_name {
	font-weight: bold;
	font-size: 110%;
}
.px_form_header {
	font-size: 125%;
	font-weight: bold;
}
.px_form_subheader {
	font-size: 110%;
	font-style:oblique;
}
.px_ptab_closetag_enabled{
	color: red;
	font-weight: bold;
	padding-left: 1em;
}
.px_ptab_closetag_disabled{
	color:#fcc;
	font-weight: lighter;
	padding-left: 1em;
}
.px_ptab_enterprise {
	background: #ccddff;
}
.px_ptab_invoice {
	background: #ccffdd;
}
.px_ptab_bill {
	background: #ffccdd;
}
.px_ptab_head_enterprise {
	padding: 2px;
	background: #99aacc;
}
.px_ptab_head_invoice {
	padding: 2px;
	background: #99ccaa;
}
.px_ptab_head_bill {
	padding: 2px;
	background: #cc99aa;
}

.px_bill_head{
	border-bottom: 1px solid black;
}
.px_bill_cparty{
	border-bottom: 1px solid black;
}
.px_popup_header {
	font-weight: bolder;
	text-align: center;
	font-size: 105%;
}
.px_column_header {
	font-weight: bold;
}
.px_money_column_header {
	font-weight: bold;
	text-align: right;
	padding-right: 1em;
}
.px_money_label {
	text-align: right;
	padding-left: 2em;
	padding-right: 1em;
}
.px_money_total_value_credit {
	border-top: 1px black;
	text-align: right;
	color: red;
	padding-left: 2em;
	padding-right: 1em;
}
.px_money_total_value_debit {
	border-top: 1px black;
	text-align: right;
	color: black;
	padding-left: 2em;
	padding-right: 1em;
}
.px_money_grand_total_value_credit {
	border-bottom: 2px black double;
	text-align: right;
	color: red;
	padding-left: 2em;
	padding-right: 1em;
}
.px_money_grand_total_value_debit {
	border-bottom: 2px black double;
	text-align: right;
	color: black;
	padding-left: 2em;
	padding-right: 1em;
}
/**px side panel styles*/
.px_message_panel_header {
	font-size: 120%;
	font-weight: bold;
	padding: 0.5em;
	color:#666;
}
/**px_task_styles */
.px_task_long_overdue{
	padding: 0.5em;
	font-size: 110%;
	background: flashing red;
}
.px_task_overdue{
	padding: 0.5em;
	font-size: 110%;
	background:  #ff0000;
}
.px_task_due{
	padding: 0.5em;
	font-size: 110%;
	background: #ffa500;
}
.px_task_urgent{
	padding: 0.5em;
	font-size: 110%;
	background: #efc20c;
}
.px_task_soon{
	padding: 0.5em;
	font-size: 110%;
	background: #d8ef0c;
}
.px_task_whenever{
	padding: 0.5em;
	font-size: 110%;
	background: #10bb16;
}


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
